openapi: 3.0.0
info:
  title: Sanction List API
  version: '1.0'
  description: "The cubemos Sanction List API is a RESTful API which can be used to ensure compliance with relevant regulations across the globe.\n\nYou can search for:\v\n1. Persons\n2. Organizations\n3. Addresses\n\nTo facilitate the search, you can search with the exact names or for the fuzzy phonetical representation. \n\n![Sanction List API architectural overview](../assets/images/sanctionsAPIoverview.png)\n\nNow you can get started: [Try out the API](../docs/01Quickstart.md) in the quick start mode or get started with your implementation immediately. \n\n## Features\n\n1. Easy integration\n2. Example code for various languages\n3. Strict and fuzzy search \n4. Get the complete details of the sanctioned person\n\n## Supported Sanction Lists\n\n1. EU's Common Foreign and Security Policy (CFSP)\n2. OFAC Specially Designated Nationals And Blocked Persons List (OFAC-SDN)\n3. OFAC Consolidated Sanctions Lists (OFAC-CSL)\n4. UK HM Treasury Financial Targets List \n\n\nAre you missing a list? \nLet us know and we will integrate it for you into our API.\nWrite an email to meet@cubemos.com"
  contact:
    name: cubemos gmbh
  license:
    url: 'https://www.cubemos.com/terms-and-conditions'
    name: Terms of Service
servers:
  - url: 'https://api.cubemos.com/sanction'
paths:
  /search/entities/person:
    post:
      summary: POST /search/entities/person
      operationId: post-search-entities-person
      responses:
        '200':
          description: 'The request was created successfully and the results are available as an array. If the array is empty, there were no matching persons found in the desired sanction lists.'
          headers: {}
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/person'
                type: array
              examples:
                example:
                  value:
                    persons:
                      - city: 'Guadalajara, Jalisco 44690'
                        nationality: Mexico
                        dob: 20 Nov 1960
                        aliases:
                          - 'MARTINEZ PEREZ, Juan Carlos'
                          - 'GONZALEZ ZAPATA, Antonio'
                          - 'OCHOA VASCO, Carlos Mario'
                          - 'VEGA TOBON, Carlos Mario'
                        gender: ''
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10214'
                        full_name: 'OCHOA VASCO, Fabio Enrique'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
                      - nationality: Colombia
                        city: 'Medellin, Antioquia'
                        dob: 20 Nov 1960
                        gender: ''
                        aliases:
                          - 'MARTINEZ PEREZ, Juan Carlos'
                          - 'VEGA TOBON, Carlos Mario'
                          - 'GONZALEZ ZAPATA, Antonio'
                          - 'OCHOA VASCO, Carlos Mario'
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10214'
                        full_name: 'OCHOA VASCO, Fabio Enrique'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
                      - aliases:
                          - 'VEGA TOBON, Carlos Mario'
                          - 'MARTINEZ PEREZ, Juan Carlos'
                          - 'OCHOA VASCO, Carlos Mario'
                          - 'GONZALEZ ZAPATA, Antonio'
                        nationality: Mexico
                        dob: 20 Nov 1960
                        city: 'Zapopan, Jalisco 44020'
                        gender: ''
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10214'
                        full_name: 'OCHOA VASCO, Fabio Enrique'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: |-
        ### Search a person through sanction lists
        This API call allows you to perform a search through the desired sanction lists for a person. The search results returned are a list of all entries from the sanction lists which match to the input along with the degree of the match. 

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" of the "Try-it out" section and hit send to get the results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/personSearch'
            examples:
              Example:
                value:
                  search_config:
                    sanction_lists:
                      - cfsp
                      - ofac_sdn
                    must_match_attributes:
                      - full_name
                  person:
                    full_name: 'OCHOA VASCO, Fabio Enrique'
                    first_name: ''
                    middle_name: ''
                    last_name: ''
                    aliases:
                      - Mario
                    gender: ''
                    dob: ''
                    city: ''
                    nationality: ''
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
        description: |-
          ### Payload request schema for single search
          In order to perform a search on a person through the sanction lists, the full name and the desired sanction lists are required. Please note that the higher the ambiguity in input, the bigger could be the output response payload.  
      parameters: []
      security:
        - API Key: []
      tags:
        - 1. Person Search
    parameters: []
  /search/entities/organization:
    post:
      summary: POST /search/entities/organization
      operationId: post-search-entities-organization
      responses:
        '200':
          description: 'The request was created successfully and the results are available as an array. If the array is empty, there were no matching organization found in the desired sanction lists.'
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organization'
                type: array
              examples:
                example:
                  value:
                    organizations:
                      - aliases:
                          - SNIPER OUTDOORS CC
                          - TRUE MOTIVES 1236 CC
                          - SNIPER OUTDOOR CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
                      - aliases:
                          - SNIPER OUTDOOR CC
                          - SNIPER OUTDOORS CC
                          - TRUE MOTIVES 1236 CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
                      - aliases:
                          - SNIPER OUTDOORS CC
                          - SNIPER OUTDOOR CC
                          - TRUE MOTIVES 1236 CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
                      - aliases:
                          - SNIPER OUTDOOR CC
                          - SNIPER OUTDOORS CC
                          - TRUE MOTIVES 1236 CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
          headers: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organizationSearch'
            examples:
              Example:
                value:
                  search_config:
                    sanction_lists:
                      - cfsp
                      - ofac_sdn
                    must_match_attributes:
                      - name
                  organization:
                    name: sniper Africa
                    country_code: za
        description: |
          ### Payload request schema
          In order to perform a search for an organization, the name and the desired sanction lists are required. Please note that the higher the ambiguity of input, the higher the output response payload can become.
      description: |-
        ### Search for a sanction list entry based on the organization name
        This API call allows you to perform a search for sanction lists entries of organizations. The result is a list of all entries which match to the inputs along with the degree of the match (which indicates the confidence if the desired match was found with a percentage representation).

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" of the "Try-it out" section and hit send to get the results
      security:
        - API Key: []
      tags:
        - 2. Organization Search
    parameters: []
  /search/location/address:
    post:
      summary: POST /search/entities/address
      operationId: post-search-address
      responses:
        '200':
          description: 'The request was created successfully and the results are available as an array. If the array is empty, there were no matching persons found in the sanction lists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationSearchResult'
              examples:
                example:
                  value:
                    persons: []
                    organizations:
                      - aliases:
                          - KARAMAY CITY COMMERCIAL BANK CO LTD.
                          - KARAMAY URBAN CREDIT COOPERATIVES
                        name: BANK OF KUNLUN CO LTD
                        list_entry_url: 'https://api.cubemos.com/sanction/list/ofac-csl/15268'
                        address:
                          country_code: China
                          zip_code: Beijing 100007
                          city: Beijing 100007
                          street: '9 Dongzhimen North Street, Dongcheng District, (Head Office)'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addressSearch'
            examples:
              Example:
                value:
                  search_config:
                    sanction_lists:
                      - ofac_csl
                    must_match_attributes:
                      - ''
                  address:
                    country_code: CN
                    zip_code: '100007'
                    city: Beijing
                    street: Dongzhimen
        description: |-
          ### Payload request scheme
          In order to search for sanction lists entries, at least the specific country code is required. Please note though that the higher the ambiguity of input, the higher the output response payload can become. 
      description: |-
        ### Search for a sanction list entry based on the address
        This API call allows you to perform a sanction list search for all the sanctioned entities at the address or location of interest.

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" of the "Try-it out" section and hit send to get the results
      security:
        - API Key: []
      tags:
        - 3. Address Search
    parameters: []
  '/list/cfsp/{id}':
    get:
      summary: 'GET /list/cfsp/{id}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfsp'
              examples:
                example:
                  value:
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: Hussein Al-Tikriti
                      NameAlias_FirstName: Saddam
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: Saddam Hussein Al-Tikriti
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: M
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: '17.0'
                      NameAlias_RegulationLanguage: EN
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: regulation
                      NameAlias_Regulation_OrganisationType: commission
                      NameAlias_Regulation_PublicationDate: '2003-07-08'
                      NameAlias_Regulation_EntryIntoForceDate: '2003-07-07'
                      NameAlias_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      NameAlias_Regulation_Programme: IRQ
                      NameAlias_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: Abu Ali
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: '19.0'
                      NameAlias_RegulationLanguage: EN
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: regulation
                      NameAlias_Regulation_OrganisationType: commission
                      NameAlias_Regulation_PublicationDate: '2003-07-08'
                      NameAlias_Regulation_EntryIntoForceDate: '2003-07-07'
                      NameAlias_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      NameAlias_Regulation_Programme: IRQ
                      NameAlias_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: Abou Ali
                      NameAlias_NameLanguage: FR
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: '380.0'
                      NameAlias_RegulationLanguage: EN
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: regulation
                      NameAlias_Regulation_OrganisationType: commission
                      NameAlias_Regulation_PublicationDate: '2003-07-08'
                      NameAlias_Regulation_EntryIntoForceDate: '2003-07-07'
                      NameAlias_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      NameAlias_Regulation_Programme: IRQ
                      NameAlias_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: ''
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: ''
                      NameAlias_RegulationLanguage: ''
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: ''
                      NameAlias_Regulation_OrganisationType: ''
                      NameAlias_Regulation_PublicationDate: ''
                      NameAlias_Regulation_EntryIntoForceDate: ''
                      NameAlias_Regulation_NumberTitle: ''
                      NameAlias_Regulation_Programme: ''
                      NameAlias_Regulation_PublicationUrl: ''
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: '1937-04-28'
                      BirthDate_Day: '28.0'
                      BirthDate_Month: '4.0'
                      BirthDate_Year: '1937.0'
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: 'NO'
                      BirthDate_CalendarType: GREGORIAN
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: 'al-Awja, near Tikrit'
                      BirthDate_CountryIso2Code: IQ
                      BirthDate_CountryDescription: IRAQ
                      BirthDate_LogicalId: '14.0'
                      BirthDate_RegulationLanguage: EN
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: regulation
                      BirthDate_Regulation_OrganisationType: commission
                      BirthDate_Regulation_PublicationDate: '2003-07-08'
                      BirthDate_Regulation_EntryIntoForceDate: '2003-07-07'
                      BirthDate_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      BirthDate_Regulation_Programme: IRQ
                      BirthDate_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: ''
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: ''
                      NameAlias_RegulationLanguage: ''
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: ''
                      NameAlias_Regulation_OrganisationType: ''
                      NameAlias_Regulation_PublicationDate: ''
                      NameAlias_Regulation_EntryIntoForceDate: ''
                      NameAlias_Regulation_NumberTitle: ''
                      NameAlias_Regulation_Programme: ''
                      NameAlias_Regulation_PublicationUrl: ''
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: IQ
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: '1.0'
                      Citizenship_RegulationLanguage: EN
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: regulation
                      Citizenship_Regulation_OrganisationType: commission
                      Citizenship_Regulation_PublicationDate: '2003-07-08'
                      Citizenship_Regulation_EntryIntoForceDate: '2003-07-07'
                      Citizenship_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Citizenship_Regulation_Programme: IRQ
                      Citizenship_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-list-cfsp
      description: |-
        Get the entry from the official [CFSP sanction list](https://eeas.europa.eu/headquarters/headquarters-homepage_en/8442/Consolidated%20list%20of%20sanction) based on the result from the search calls. 

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" and "13" as the ID in the "Path" of the "Try-it out" section and hit send to get the results
      parameters: []
      security:
        - API Key: []
      tags:
        - 4 Original List Entry Search
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The entity logical ID in the CFSP sanction list from which all the entries will be returned
  '/list/ofac-sdn/{id}':
    get:
      summary: 'GET /list/ofac-sdn/{id}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ofacSDN'
              examples:
                example:
                  value:
                    entity_number: '10133'
                    sdn:
                      - sdn_name: SNIPER AFRICA
                        sdn_type: '-0- '
                        program: SDGT
                        title: '-0- '
                        call_sign: '-0- '
                        vess_type: '-0- '
                        tonnage: '-0- '
                        grt: '-0- '
                        vess_flag: '-0- '
                        vess_owner: '-0- '
                        remarks: Website www.sniperafrica.com; Registration ID 200302847123; Tax ID No. 9113562152.
                    alt:
                      - alt_num: '9835'
                        alt_type: aka
                        alt_name: SNIPER OUTDOOR CC
                        alt_remarks: '-0-'
                      - alt_num: '9836'
                        alt_type: aka
                        alt_name: SNIPER OUTDOORS CC
                        alt_remarks: '-0-'
                      - alt_num: '9837'
                        alt_type: aka
                        alt_name: TRUE MOTIVES 1236 CC
                        alt_remarks: '-0-'
                    add:
                      - add_num: '13533'
                        address: '40 Mint Road, Amoka Gardens, Fordsburg'
                        city_province_postalcode: Johannesburg
                        country: South Africa
                        add_remarks: '-0-'
                      - add_num: '13534'
                        address: P.O. Box 42928
                        city_province_postalcode: Fordsburg 2003
                        country: South Africa
                        add_remarks: '-0-'
                      - add_num: '13535'
                        address: 16 Gold Street
                        city_province_postalcode: Carletonville 2500
                        country: South Africa
                        add_remarks: '-0-'
                      - add_num: '13536'
                        address: P.O. Box 28215
                        city_province_postalcode: Kensington 2101
                        country: South Africa
                        add_remarks: '-0-'
                    sdn_comments: []
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-list-ofac-sdn
      description: |-
        Get the entry from the official [OFAC SDN sanction lists](https://www.treasury.gov/resource-center/sanction/sdn-list/pages/default.aspx) based on the result from the POST calls. 

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" and "10214" as the ID in the "Path" of the "Try-it out" section and hit send to get the results
      security:
        - API Key: []
      tags:
        - 4 Original List Entry Search
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: The UID in the OFAC SDN sanction list from which all the entries will be returned
        required: true
  '/list/hm-treasury/{id}':
    get:
      summary: 'GET /list/hm-treasury/{id}'
      tags:
        - 4 Original List Entry Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hmTreasury'
              examples:
                example-1:
                  value:
                    - name_6: AL-QAHTANI
                      name_1: Sheikh
                      name_2: Farooq
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QAHTANI
                      name_1: Sheikh
                      name_2: Farooq
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL QATARI
                      name_1: Farouq
                      name_2: al-Qahtani
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL QATARI
                      name_1: Farouq
                      name_2: al-Qahtani
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-HABABI
                      name_1: Nayf
                      name_2: Salam
                      name_3: Muhammad
                      name_4: Ujaym
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-HABABI
                      name_1: Nayf
                      name_2: Salam
                      name_3: Muhammad
                      name_4: Ujaym
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-HABABI
                      name_1: Nayef
                      name_2: Salam
                      name_3: Muhammad
                      name_4: Ujaym
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: Prime Alias
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-HABABI
                      name_1: Nayef
                      name_2: Salam
                      name_3: Muhammad
                      name_4: Ujaym
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: Prime Alias
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QAHTANI
                      name_1: Faruq
                      name_2: null
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QAHTANI
                      name_1: Faruq
                      name_2: null
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QATARI
                      name_1: Faruq
                      name_2: null
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QATARI
                      name_1: Faruq
                      name_2: null
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QATARI
                      name_1: Sheikh
                      name_2: Faroq
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: AL-QATARI
                      name_1: Sheikh
                      name_2: Faroq
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: SHAYKH
                      name_1: Imran
                      name_2: Farouk
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1980
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
                    - name_6: SHAYKH
                      name_1: Imran
                      name_2: Farouk
                      name_3: null
                      name_4: null
                      name_5: null
                      title: null
                      dob: 00/00/1981
                      town_of_birth: null
                      country_of_birth: Saudi Arabia
                      nationality: 1) Saudi Arabia 2) Qatar
                      passport_details: 'Passport No: 592667 (Qatari passport issued on 3 May 2007).'
                      ni_number: null
                      position: null
                      address_1: null
                      address_2: null
                      address_3: null
                      address_4: null
                      address_5: null
                      address_6: null
                      postzip_code: null
                      country: Afghanistan (since 2009)
                      other_information: UN Ref QDe.004. Emir for the eastern zone of Afghanistan. Has led an Al-Qaida battalion in Afghanistan since at least mid-2010.
                      group_type: Individual
                      alias_type: AKA
                      regime: The ISIL (Da'esh) and Al-Qaida organisations
                      listed_on: 01/04/2016
                      last_updated: 01/04/2016
                      group_id: '13349'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-list-hm-treasury
      security:
        - API Key: []
      description: |-
        Get the entry from the official [HM Treasury sanction lists](https://www.gov.uk/government/publications/financial-sanctions-consolidated-list-of-targets/consolidated-list-of-targets) based on the result from the POST calls. 

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" and "13869" as the ID in the "Path" of the "Try-it out" section and hit send to get the results
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: The UID in the HM Treasury sanction list from which all the entries will be returned
        required: true
  '/list/ofac-csl/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The UID in the OFAC CSL sanction list from which all the entries will be returned
    get:
      summary: 'GET /list/ofac-csl/{id}'
      tags:
        - 4 Original List Entry Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ofacCSL'
              examples:
                example:
                  value:
                    entity_number: '15268'
                    ofac_csl:
                      - cons_name: BANK OF KUNLUN CO LTD
                        cons_type: '-0-'
                        program: 561-Related
                        title: '-0-'
                        call_sign: '-0-'
                        vess_type: '-0-'
                        tonnage: '-0-'
                        grt: '-0-'
                        vess_flag: '-0-'
                        vess_owner: '-0-'
                        remarks: 'SWIFT/BIC CKLBCNBJ; United States financial institutions are prohibited from opening or maintaining a correspondent account or a payable-through account for the foreign financial institution listed here, pursuant to 31 C.F.R. section 561.201(c).'
                    alt:
                      - alt_num: '22509'
                        alt_type: fka
                        alt_name: KARAMAY URBAN CREDIT COOPERATIVES
                        alt_remarks: '-0-'
                      - alt_num: '22510'
                        alt_type: fka
                        alt_name: KARAMAY CITY COMMERCIAL BANK CO LTD.
                        alt_remarks: '-0-'
                    add:
                      - add_num: '22761'
                        address: '172 Xibin Rd, Ranghulu District, (Daqing, Heilongjiang Branch)'
                        city_province_postalcode: Daqing 163453
                        country: China
                        add_remarks: '-0-'
                      - add_num: '22762'
                        address: '9 Dongzhimen North Street, Dongcheng District, (Head Office)'
                        city_province_postalcode: Beijing 100007
                        country: China
                        add_remarks: '-0-'
                      - add_num: '22763'
                        address: 'No. 7 Century Ave, (Registered Office)'
                        city_province_postalcode: 'Xinjiang, Karamay 834000'
                        country: China
                        add_remarks: '-0-'
                      - add_num: '22764'
                        address: 'No. 68 Zhongya South Rd, Economic and Technological Development Zone, (Urumqi, Xinjiang Branch)'
                        city_province_postalcode: Urumqi 830026
                        country: China
                        add_remarks: '-0-'
                    comments: []
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-list-ofac-csl
      security:
        - API Key: []
      description: |-
        Get the entry from the official [OFAC CSL sanction lists](https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/consolidated.aspx) based on the result from the POST calls. 

        <!-- theme: warning -->
        > Please enter "sanction_api_cubemos" as the x-api-key in the "Header" and "15268" as the ID in the "Path" of the "Try-it out" section and hit send to get the results
components:
  schemas:
    personSearchAttributes:
      title: personSearchAttributes
      type: object
      description: Search identifiers for a person through the sanction list
      x-examples: {}
      x-tags:
        - Payload Definitions
      properties:
        full_name:
          type: string
          description: Full name of a person (first_names + middle_names + last_names )
          example: Paulina
        first_name:
          type: string
          description: All the known first names of the person
          example: Paulina
        middle_name:
          type: string
          description: All the known middle names of the person
          example: Paulina
        last_name:
          type: string
          description: All the known last names of the person
          example: Paulina
        aliases:
          type: array
          description: Aliases of the person
          items:
            type: string
            example: Paulina
        gender:
          type: string
          description: 'Gender of the person '
          example: Female
        dob:
          type: string
          description: The date of birth of the person known
          example: 03 Oct 1984
        city:
          type: string
          description: The city in which the person was known to reside
          example: Zapopan
        nationality:
          type: string
          description: The 2 letter ISO code of the nationality of the person known
          example: MX
      required:
        - full_name
    addressSearchConfig:
      title: search config for address based search
      type: object
      description: configure the search on the desired entity
      x-tags:
        - Payload Definitions
      properties:
        sanction_lists:
          type: array
          description: All the sanction list names through which the search has to be made
          items:
            type: string
            example: ofac_csl
        must_match_attributes:
          type: array
          description: Identifiers of the entry fields against which the output field has to be a 100% match
          uniqueItems: true
          items:
            type: string
            example: city
      required:
        - sanction_lists
    organizationSearchConfig:
      title: search config for organization
      type: object
      description: configure the search on the desired entity
      x-tags:
        - Payload Definitions
      properties:
        sanction_lists:
          type: array
          description: All the sanction list names through which the search has to be made
          items:
            type: string
            example: ofac_sdn
        must_match_attributes:
          type: array
          description: Identifiers of the entry fields against which the output field has to be a 100% match
          uniqueItems: true
          items:
            type: string
            example: name
      required:
        - sanction_lists
    personSearchConfig:
      title: search config for person
      type: object
      description: configure the search on the desired entity
      x-tags:
        - Payload Definitions
      properties:
        sanction_lists:
          type: array
          description: All the sanction list names through which the search has to be made
          items:
            type: string
            example: ofac_sdn
        must_match_attributes:
          type: array
          description: Identifiers of the entry fields against which the output field has to be a 100% match
          uniqueItems: true
          items:
            type: string
            example: dob
      required:
        - sanction_lists
    personSearch:
      title: personSearch
      type: object
      description: The identifiers based on which the search will be performed for a person through the desired sanction lists
      x-examples: {}
      properties:
        search_config:
          $ref: '#/components/schemas/personSearchConfig'
        person:
          $ref: '#/components/schemas/personSearchAttributes'
      required:
        - search_config
        - person
      x-tags:
        - Payload Definitions
    organizationSearchAttributes:
      title: organizationSearchAttributes
      type: object
      description: Search for an organization through a sanction list
      x-tags:
        - Payload Definitions
      properties:
        name:
          type: string
          description: Name of the organization
          example: ASCOTEC STEEL TRADING GMBH
        country_code:
          type: string
          description: |-
            2 digit ISO country code. Hover here to see all the valid country codes. 
            <iframe src="https://datahub.io/core/country-list/r/0.html" width="100%" height="100%" frameborder="0"></iframe>
          example: DE
      required:
        - name
    organizationSearch:
      title: organizationSearch
      type: object
      description: The identifiers based on which the search will be performed for a organization through the desired sanction lists
      properties:
        search_config:
          $ref: '#/components/schemas/organizationSearchConfig'
        organization:
          $ref: '#/components/schemas/organizationSearchAttributes'
      required:
        - search_config
        - organization
      x-tags:
        - Payload Definitions
    organization:
      title: organization
      type: object
      description: organization details
      properties:
        name:
          type: string
          description: Name of the organization
        address:
          $ref: '#/components/schemas/address'
        aliases:
          type: array
          description: List of all the aliases that the organization has for it's name
          items:
            type: string
        list_entry_url:
          type: string
          description: The URL to the list entry which can be used with the GET call to obtain the raw entries from the sanction list in which the result is extracted from
      required:
        - name
        - address
        - aliases
        - list_entry_url
      x-tags:
        - Payload Definitions
    locationSearchResult:
      title: locationSearchResult
      type: object
      description: Response of a search query based on address through the desired sanction lists
      properties:
        persons:
          type: array
          items:
            $ref: '#/components/schemas/person'
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/organization'
      required:
        - persons
        - organizations
      x-tags:
        - Payload Definitions
    addressSearch:
      title: addressSearch
      type: object
      description: query payload for an address search
      x-examples: {}
      x-tags:
        - Payload Definitions
      properties:
        search_config:
          $ref: '#/components/schemas/addressSearchConfig'
        address:
          $ref: '#/components/schemas/address'
      required:
        - search_config
        - address
    person:
      title: person
      type: object
      description: person details
      x-examples: {}
      properties:
        full_name:
          type: string
          description: Full name of the sanctioned person
        first_name:
          type: string
          description: First name of the queried person
        middle_name:
          type: string
          description: Middle name of the queried person
        last_name:
          type: string
          description: Last name of the queried person
        dob:
          type: string
          description: Date of birth of the queried person
        gender:
          type: string
          description: Gender of the queried person
        aliases:
          type: array
          description: List of all the aliases that the queried person has
          items:
            type: string
        city:
          type: string
          description: City where the person is known to be located
        nationality:
          description: Nationality of the person
          type: string
        list_entry_url:
          type: string
          description: The URL to the list entry which can be used with the GET call to obtain the raw entries from the sanction list in which the result is extracted from
      required:
        - full_name
        - dob
        - gender
        - aliases
        - city
        - nationality
        - list_entry_url
      x-tags:
        - Payload Definitions
    address:
      title: address
      type: object
      description: Basic search identifiers for the address to search through a sanction list where a sanctioned entity might be present
      x-tags:
        - Payload Definitions
      properties:
        country_code:
          type: string
          description: |-
            2 digit ISO country code. Hover here to see all the valid country codes. 
            <iframe src="https://datahub.io/core/country-list/r/0.html" width="100%" height="100%" frameborder="0"></iframe>
          example: CN
        zip_code:
          type: string
          description: 'Zip code of the area '
          example: '100007'
        city:
          type: string
          description: Name of the city
          example: Beijing
        street:
          type: string
          description: Name of the street
          example: Dongzhimen
      required:
        - country_code
    ofacSDN:
      title: ofac sdn
      type: object
      x-examples: {}
      description: Output payload of the entry from the OFAC SDN lists
      properties:
        entity_number:
          type: string
        sdn:
          type: array
          items:
            type: object
            properties:
              sdn_name:
                type: string
              sdn_type:
                type: string
              program:
                type: string
              title:
                type: string
              call_sign:
                type: string
              vess_type:
                type: string
              tonnage:
                type: string
              grt:
                type: string
              vess_flag:
                type: string
              vess_owner:
                type: string
              remarks:
                type: string
        alt:
          type: array
          items:
            type: object
            properties:
              alt_num:
                type: string
              alt_type:
                type: string
              alt_name:
                type: string
              alt_remarks:
                type: string
        add:
          type: array
          items:
            type: object
            properties:
              add_num:
                type: string
              address:
                type: string
              city_province_postalcode:
                type: string
              country:
                type: string
              add_remarks:
                type: string
        sdn_comments:
          type: array
          items:
            type: string
      x-tags:
        - Payload Definitions
    cfsp:
      title: cfsp
      type: object
      x-examples: {}
      properties:
        fileGenerationDate:
          type: string
        Entity_LogicalId:
          type: integer
        Entity_EU_ReferenceNumber:
          type: string
        Entity_UnitedNationId:
          type: string
        Entity_DesignationDate:
          type: string
        Entity_DesignationDetails:
          type: string
        Entity_Remark:
          type: string
        Entity_SubjectType:
          type: string
        Entity_SubjectType_ClassificationCode:
          type: string
        Entity_Regulation_Type:
          type: string
        Entity_Regulation_OrganisationType:
          type: string
        Entity_Regulation_PublicationDate:
          type: string
        Entity_Regulation_EntryIntoForceDate:
          type: string
        Entity_Regulation_NumberTitle:
          type: string
        Entity_Regulation_Programme:
          type: string
        Entity_Regulation_PublicationUrl:
          type: string
        NameAlias_FirstName:
          type: string
        NameAlias_MiddleName:
          type: string
        NameAlias_WholeName:
          type: string
        NameAlias_NameLanguage:
          type: string
        NameAlias_Gender:
          type: string
        NameAlias_Title:
          type: string
        NameAlias_Function:
          type: string
        NameAlias_LogicalId:
          type: string
        NameAlias_RegulationLanguage:
          type: string
        NameAlias_Remark:
          type: string
        NameAlias_Regulation_Type:
          type: string
        NameAlias_Regulation_OrganisationType:
          type: string
        NameAlias_Regulation_PublicationDate:
          type: string
        NameAlias_Regulation_EntryIntoForceDate:
          type: string
        NameAlias_Regulation_NumberTitle:
          type: string
        NameAlias_Regulation_Programme:
          type: string
        NameAlias_Regulation_PublicationUrl:
          type: string
        Address_City:
          type: string
        Address_Street:
          type: string
        Address_PoBox:
          type: string
        Address_ZipCode:
          type: string
        Address_Region:
          type: string
        Address_Place:
          type: string
        Address_AsAtListingTime:
          type: string
        Address_ContactInfo:
          type: string
        Address_CountryIso2Code:
          type: string
        Address_CountryDescription:
          type: string
        Address_LogicalId:
          type: string
        Address_RegulationLanguage:
          type: string
        Address_Remark:
          type: string
        Address_Regulation_Type:
          type: string
        Address_Regulation_OrganisationType:
          type: string
        Address_Regulation_PublicationDate:
          type: string
        Address_Regulation_EntryIntoForceDate:
          type: string
        Address_Regulation_NumberTitle:
          type: string
        Address_Regulation_Programme:
          type: string
        Address_Regulation_PublicationUrl:
          type: string
        BirthDate_BirthDate:
          type: string
        BirthDate_Day:
          type: string
        BirthDate_Month:
          type: string
        BirthDate_Year:
          type: string
        BirthDate_YearRangeFrom:
          type: string
        BirthDate_YearRangeTo:
          type: string
        BirthDate_Circa:
          type: string
        BirthDate_CalendarType:
          type: string
        BirthDate_ZipCode:
          type: string
        BirthDate_Region:
          type: string
        BirthDate_Place:
          type: string
        BirthDate_City:
          type: string
        BirthDate_CountryIso2Code:
          type: string
        BirthDate_CountryDescription:
          type: string
        BirthDate_LogicalId:
          type: string
        BirthDate_RegulationLanguage:
          type: string
        BirthDate_Remark:
          type: string
        BirthDate_Regulation_Type:
          type: string
        BirthDate_Regulation_OrganisationType:
          type: string
        BirthDate_Regulation_PublicationDate:
          type: string
        BirthDate_Regulation_EntryIntoForceDate:
          type: string
        BirthDate_Regulation_NumberTitle:
          type: string
        BirthDate_Regulation_Programme:
          type: string
        BirthDate_Regulation_PublicationUrl:
          type: string
        Identification_Number:
          type: string
        Identification_Diplomatic:
          type: string
        Identification_KnownExpired:
          type: string
        Identification_KnownFalse:
          type: string
        Identification_ReportedLost:
          type: string
        Identification_RevokedByIssuer:
          type: string
        Identification_IssuedBy:
          type: string
        Identification_IssuedDate:
          type: string
        Identification_ValidFrom:
          type: string
        Identification_ValidTo:
          type: string
        Identification_LatinNumber:
          type: string
        Identification_NameOnDocument:
          type: string
        Identification_TypeCode:
          type: string
        Identification_TypeDescription:
          type: string
        Identification_Region:
          type: string
        Identification_CountryIso2Code:
          type: string
        Identification_CountryDescription:
          type: string
        Identification_LogicalId:
          type: string
        Identification_RegulationLanguage:
          type: string
        Identification_Remark:
          type: string
        Identification_Regulation_Type:
          type: string
        Identification_Regulation_OrganisationType:
          type: string
        Identification_Regulation_PublicationDate:
          type: string
        Identification_Regulation_EntryIntoForceDate:
          type: string
        Identification_Regulation_NumberTitle:
          type: string
        Identification_Regulation_Programme:
          type: string
        Identification_Regulation_PublicationUrl:
          type: string
        Citizenship_Region:
          type: string
        Citizenship_CountryIso2Code:
          type: string
        Citizenship_CountryDescription:
          type: string
        Citizenship_LogicalId:
          type: string
        Citizenship_RegulationLanguage:
          type: string
        Citizenship_Remark:
          type: string
        Citizenship_Regulation_Type:
          type: string
        Citizenship_Regulation_OrganisationType:
          type: string
        Citizenship_Regulation_PublicationDate:
          type: string
        Citizenship_Regulation_EntryIntoForceDate:
          type: string
        Citizenship_Regulation_NumberTitle:
          type: string
        Citizenship_Regulation_Programme:
          type: string
        Citizenship_Regulation_PublicationUrl:
          type: string
        NameAlias_LastName:
          type: string
      description: Output payload of the entry from the CFSP sanction list
      x-tags:
        - Payload Definitions
    hmTreasury:
      title: hmTreasury
      type: object
      properties:
        hmTreasury:
          type: array
          items:
            type: object
            properties:
              name_6:
                type: string
              name_1:
                type: string
              name_2:
                type: string
              name_3:
                type: string
              name_4:
                type: string
              name_5:
                type: string
              title:
                type: string
              dob:
                type: string
[...]
