openapi: 3.0.0
info:
  title: Sanction List API
  version: '1.0'
  description: |-
    cubemos Sanction list API is a RESTful API which can be used to avoid prosecution and be compliant with international regulation on sanction, AML and financial crime. 

    ### Description
    [Overview](../docs/01Overview.md)  [Quickstart](../docs/02Quickstart.md)
  contact:
    name: cubemos gmbh
    url: www.cubemos.com
    email: meet@cubemos.com
  license:
    name: cubemos license
  termsOfService: 'https://www.cubemos.com/general-terms/'
servers:
  - url: 'https://api.cubemos.com/sanction'
paths:
  /search/entities/person:
    post:
      summary: person search
      operationId: post-search-entities-person
      responses:
        '200':
          description: 'The request was created successfully and the results are available as an array. If the array is empty, there were no matching persons found in the desired sanction lists.'
          headers: {}
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/person'
                type: array
              examples:
                example:
                  value:
                    persons:
                      - city: 'Guadalajara, Jalisco 44690'
                        nationality: Mexico
                        dob: 20 Nov 1960
                        aliases:
                          - 'MARTINEZ PEREZ, Juan Carlos'
                          - 'GONZALEZ ZAPATA, Antonio'
                          - 'OCHOA VASCO, Carlos Mario'
                          - 'VEGA TOBON, Carlos Mario'
                        gender: ''
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10214'
                        full_name: 'OCHOA VASCO, Fabio Enrique'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
                      - nationality: Colombia
                        city: 'Medellin, Antioquia'
                        dob: 20 Nov 1960
                        gender: ''
                        aliases:
                          - 'MARTINEZ PEREZ, Juan Carlos'
                          - 'VEGA TOBON, Carlos Mario'
                          - 'GONZALEZ ZAPATA, Antonio'
                          - 'OCHOA VASCO, Carlos Mario'
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10214'
                        full_name: 'OCHOA VASCO, Fabio Enrique'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
                      - aliases:
                          - 'VEGA TOBON, Carlos Mario'
                          - 'MARTINEZ PEREZ, Juan Carlos'
                          - 'OCHOA VASCO, Carlos Mario'
                          - 'GONZALEZ ZAPATA, Antonio'
                        nationality: Mexico
                        dob: 20 Nov 1960
                        city: 'Zapopan, Jalisco 44020'
                        gender: ''
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10214'
                        full_name: 'OCHOA VASCO, Fabio Enrique'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: |-
        ### Search a person through sanction lists
        This API call allows you to perform a search through the desired sanction lists for a person. The search results returned are a list of all entries from the sanction lists which match to the input along with the degree of the match. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/personSearch'
            examples:
              Example:
                value:
                  search_config:
                    sanction_lists:
                      - cfsp
                      - SDN
                    must_match_attributes:
                      - full_name
                  person:
                    full_name: 'OCHOA VASCO, Fabio Enrique'
                    first_name: ''
                    middle_name: ''
                    last_name: ''
                    aliases:
                      - Mario
                    gender: ''
                    dob: ''
                    city: ''
                    nationality: ''
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
        description: |-
          ### Payload request schema for single search
          In order to perform a search on a person through the sanction lists, the full name and the desired sanction lists are required. Please note that the higher the ambiguity in input, the bigger could be the output response payload.  
      parameters: []
      security:
        - API Key: []
      tags:
        - API Search Call
    parameters: []
  /search/entities/organization:
    post:
      summary: organization search
      operationId: post-search-entities-organization
      responses:
        '200':
          description: 'The request was created successfully and the results are available as an array. If the array is empty, there were no matching organization found in the desired sanction lists.'
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organization'
                type: array
              examples:
                example:
                  value:
                    organizations:
                      - aliases:
                          - SNIPER OUTDOORS CC
                          - TRUE MOTIVES 1236 CC
                          - SNIPER OUTDOOR CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
                      - aliases:
                          - SNIPER OUTDOOR CC
                          - SNIPER OUTDOORS CC
                          - TRUE MOTIVES 1236 CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
                      - aliases:
                          - SNIPER OUTDOORS CC
                          - SNIPER OUTDOOR CC
                          - TRUE MOTIVES 1236 CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
                      - aliases:
                          - SNIPER OUTDOOR CC
                          - SNIPER OUTDOORS CC
                          - TRUE MOTIVES 1236 CC
                        name: SNIPER AFRICA
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/10133'
                        address:
                          country_code: South Africa
                          zip_code: Carletonville 2500
                          city: Carletonville 2500
                          street: 16 Gold Street
          headers: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organizationSearch'
            examples:
              Example:
                value:
                  search_config:
                    sanction_lists:
                      - cfsp
                      - sdn
                    must_match_attributes:
                      - name
                  organization:
                    name: sniper Africa
                    country_code: ''
        description: |-
          ### Payload request schema for single search
          In order to perform a search on an organization through the sanction lists, the name and the desired sanction lists are required. Please note that the higher the ambiguity in input, the bigger could be the output response payload.  
      description: |-
        ### Search an organization through sanction lists
        This API call allows you to perform a search through the desired sanction lists for an organization. The search results returned are a list of all entries from the sanction lists which match to the input along with the degree of the match. 
      security:
        - API Key: []
      tags:
        - API Search Call
    parameters: []
  /search/location/address:
    post:
      summary: address search
      operationId: post-search-address
      responses:
        '200':
          description: 'The request was created successfully and the results are available as an array. If the array is empty, there were no matching persons found in the desired sanction lists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationSearchResult'
              examples:
                example:
                  value:
                    persons:
                      - gender: ''
                        dob: 01 Jul 1971
                        aliases:
                          - 'HAMAWANDI, Kawa'
                          - 'OMAR ACHMED, Kaua'
                        full_name: 'AHMAD, Farhad Kanabi'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
                        nationality: Germany
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/9588'
                      - gender: ''
                        dob: 21 Jan 1963
                        aliases:
                          - 'AYADI CHAFIK, Ben Muhammad'
                          - 'AIADY, Ben Muhammad'
                          - 'AYADI SHAFIQ, Ben Muhammad'
                          - 'AIADI, Ben Muhammad'
                        full_name: 'BIN MUHAMMAD, Ayadi Chafiq'
                        first_name: ''
                        middle_name: ''
                        last_name: ''
                        nationality: Germany
                        list_entry_url: 'https://api.cubemos.com/sanction/list/sdn/6946'
                    organizations: []
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addressSearch'
            examples:
              Example:
                value:
                  search_config:
                    sanction_lists:
                      - cfsp
                      - sdn
                    must_match_attributes:
                      - ''
                  address:
                    country_code: germany
                    zip_code: ''
                    city: munich
                    street: ''
        description: |-
          ### Payload request scheme for single search
          In order to search for a location bassed on the address, the sanction lists as well as the address details are required. Please note that the higher the ambiguity in input, the bigger could be the output response payload.  
      description: |-
        ### Search on an entity through the desired sanction lists in at an address
        This API call allows you to perform a search through the desired sanction lists for all the sanctioned entities at the desired location. 
      security:
        - API Key: []
      tags:
        - API Search Call
    parameters: []
  '/list/cfsp/{id}':
    get:
      summary: CFSP list entry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfsp'
              examples:
                example:
                  value:
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: Hussein Al-Tikriti
                      NameAlias_FirstName: Saddam
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: Saddam Hussein Al-Tikriti
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: M
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: '17.0'
                      NameAlias_RegulationLanguage: EN
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: regulation
                      NameAlias_Regulation_OrganisationType: commission
                      NameAlias_Regulation_PublicationDate: '2003-07-08'
                      NameAlias_Regulation_EntryIntoForceDate: '2003-07-07'
                      NameAlias_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      NameAlias_Regulation_Programme: IRQ
                      NameAlias_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: Abu Ali
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: '19.0'
                      NameAlias_RegulationLanguage: EN
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: regulation
                      NameAlias_Regulation_OrganisationType: commission
                      NameAlias_Regulation_PublicationDate: '2003-07-08'
                      NameAlias_Regulation_EntryIntoForceDate: '2003-07-07'
                      NameAlias_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      NameAlias_Regulation_Programme: IRQ
                      NameAlias_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: Abou Ali
                      NameAlias_NameLanguage: FR
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: '380.0'
                      NameAlias_RegulationLanguage: EN
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: regulation
                      NameAlias_Regulation_OrganisationType: commission
                      NameAlias_Regulation_PublicationDate: '2003-07-08'
                      NameAlias_Regulation_EntryIntoForceDate: '2003-07-07'
                      NameAlias_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      NameAlias_Regulation_Programme: IRQ
                      NameAlias_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: ''
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: ''
                      NameAlias_RegulationLanguage: ''
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: ''
                      NameAlias_Regulation_OrganisationType: ''
                      NameAlias_Regulation_PublicationDate: ''
                      NameAlias_Regulation_EntryIntoForceDate: ''
                      NameAlias_Regulation_NumberTitle: ''
                      NameAlias_Regulation_Programme: ''
                      NameAlias_Regulation_PublicationUrl: ''
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: '1937-04-28'
                      BirthDate_Day: '28.0'
                      BirthDate_Month: '4.0'
                      BirthDate_Year: '1937.0'
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: 'NO'
                      BirthDate_CalendarType: GREGORIAN
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: 'al-Awja, near Tikrit'
                      BirthDate_CountryIso2Code: IQ
                      BirthDate_CountryDescription: IRAQ
                      BirthDate_LogicalId: '14.0'
                      BirthDate_RegulationLanguage: EN
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: regulation
                      BirthDate_Regulation_OrganisationType: commission
                      BirthDate_Regulation_PublicationDate: '2003-07-08'
                      BirthDate_Regulation_EntryIntoForceDate: '2003-07-07'
                      BirthDate_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      BirthDate_Regulation_Programme: IRQ
                      BirthDate_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: ''
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: ''
                      Citizenship_RegulationLanguage: ''
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: ''
                      Citizenship_Regulation_OrganisationType: ''
                      Citizenship_Regulation_PublicationDate: ''
                      Citizenship_Regulation_EntryIntoForceDate: ''
                      Citizenship_Regulation_NumberTitle: ''
                      Citizenship_Regulation_Programme: ''
                      Citizenship_Regulation_PublicationUrl: ''
                    - fileGenerationDate: 18/05/2020
                      entity_logicalid: '13'
                      Entity_EU_ReferenceNumber: EU.27.28
                      Entity_UnitedNationId: ''
                      Entity_DesignationDate: ''
                      Entity_DesignationDetails: ''
                      Entity_Remark: (UNSC RESOLUTION 1483)
                      Entity_SubjectType: P
                      Entity_SubjectType_ClassificationCode: person
                      Entity_Regulation_Type: regulation
                      Entity_Regulation_OrganisationType: commission
                      Entity_Regulation_PublicationDate: '2003-07-08'
                      Entity_Regulation_EntryIntoForceDate: '2003-07-07'
                      Entity_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Entity_Regulation_Programme: IRQ
                      Entity_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
                      NameAlias_LastName: ''
                      NameAlias_FirstName: ''
                      NameAlias_MiddleName: ''
                      NameAlias_WholeName: ''
                      NameAlias_NameLanguage: ''
                      NameAlias_Gender: ''
                      NameAlias_Title: ''
                      NameAlias_Function: ''
                      NameAlias_LogicalId: ''
                      NameAlias_RegulationLanguage: ''
                      NameAlias_Remark: ''
                      NameAlias_Regulation_Type: ''
                      NameAlias_Regulation_OrganisationType: ''
                      NameAlias_Regulation_PublicationDate: ''
                      NameAlias_Regulation_EntryIntoForceDate: ''
                      NameAlias_Regulation_NumberTitle: ''
                      NameAlias_Regulation_Programme: ''
                      NameAlias_Regulation_PublicationUrl: ''
                      address_city: ''
                      Address_Street: ''
                      Address_PoBox: ''
                      Address_ZipCode: ''
                      Address_Region: ''
                      Address_Place: ''
                      Address_AsAtListingTime: ''
                      Address_ContactInfo: ''
                      Address_CountryIso2Code: ''
                      Address_CountryDescription: ''
                      Address_LogicalId: ''
                      Address_RegulationLanguage: ''
                      Address_Remark: ''
                      Address_Regulation_Type: ''
                      Address_Regulation_OrganisationType: ''
                      Address_Regulation_PublicationDate: ''
                      Address_Regulation_EntryIntoForceDate: ''
                      Address_Regulation_NumberTitle: ''
                      Address_Regulation_Programme: ''
                      Address_Regulation_PublicationUrl: ''
                      BirthDate_BirthDate: ''
                      BirthDate_Day: ''
                      BirthDate_Month: ''
                      BirthDate_Year: ''
                      BirthDate_YearRangeFrom: ''
                      BirthDate_YearRangeTo: ''
                      BirthDate_Circa: ''
                      BirthDate_CalendarType: ''
                      BirthDate_ZipCode: ''
                      BirthDate_Region: ''
                      BirthDate_Place: ''
                      BirthDate_City: ''
                      BirthDate_CountryIso2Code: ''
                      BirthDate_CountryDescription: ''
                      BirthDate_LogicalId: ''
                      BirthDate_RegulationLanguage: ''
                      BirthDate_Remark: ''
                      BirthDate_Regulation_Type: ''
                      BirthDate_Regulation_OrganisationType: ''
                      BirthDate_Regulation_PublicationDate: ''
                      BirthDate_Regulation_EntryIntoForceDate: ''
                      BirthDate_Regulation_NumberTitle: ''
                      BirthDate_Regulation_Programme: ''
                      BirthDate_Regulation_PublicationUrl: ''
                      Identification_Number: ''
                      Identification_Diplomatic: ''
                      Identification_KnownExpired: ''
                      Identification_KnownFalse: ''
                      Identification_ReportedLost: ''
                      Identification_RevokedByIssuer: ''
                      Identification_IssuedBy: ''
                      Identification_IssuedDate: ''
                      Identification_ValidFrom: ''
                      Identification_ValidTo: ''
                      Identification_LatinNumber: ''
                      Identification_NameOnDocument: ''
                      Identification_TypeCode: ''
                      Identification_TypeDescription: ''
                      Identification_Region: ''
                      Identification_CountryIso2Code: ''
                      Identification_CountryDescription: ''
                      Identification_LogicalId: ''
                      Identification_RegulationLanguage: ''
                      Identification_Remark: ''
                      Identification_Regulation_Type: ''
                      Identification_Regulation_OrganisationType: ''
                      Identification_Regulation_PublicationDate: ''
                      Identification_Regulation_EntryIntoForceDate: ''
                      Identification_Regulation_NumberTitle: ''
                      Identification_Regulation_Programme: ''
                      Identification_Regulation_PublicationUrl: ''
                      Citizenship_Region: ''
                      Citizenship_CountryIso2Code: IQ
                      Citizenship_CountryDescription: ''
                      Citizenship_LogicalId: '1.0'
                      Citizenship_RegulationLanguage: EN
                      Citizenship_Remark: ''
                      Citizenship_Regulation_Type: regulation
                      Citizenship_Regulation_OrganisationType: commission
                      Citizenship_Regulation_PublicationDate: '2003-07-08'
                      Citizenship_Regulation_EntryIntoForceDate: '2003-07-07'
                      Citizenship_Regulation_NumberTitle: 1210/2003 (OJ L169)
                      Citizenship_Regulation_Programme: IRQ
                      Citizenship_Regulation_PublicationUrl: 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2003:169:0006:0023:EN:PDF'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-search-sanction-list-entry
      description: 'Get the entry from the official [CFSP sanction list](https://eeas.europa.eu/headquarters/headquarters-homepage_en/8442/Consolidated%20list%20of%20sanction) based on the result from the search calls. '
      parameters: []
      security:
        - API Key: []
      tags:
        - Oroginal List Entry Call
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The entity logical ID in the CFSP sanction list from which all the entries will be returned
  '/list/sdn/{id}':
    get:
      summary: SDN list entry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sdn'
              examples:
                example:
                  value:
                    entity_number: '10133'
                    sdn:
                      - sdn_name: SNIPER AFRICA
                        sdn_type: '-0- '
                        program: SDGT
                        title: '-0- '
                        call_sign: '-0- '
                        vess_type: '-0- '
                        tonnage: '-0- '
                        grt: '-0- '
                        vess_flag: '-0- '
                        vess_owner: '-0- '
                        remarks: Website www.sniperafrica.com; Registration ID 200302847123; Tax ID No. 9113562152.
                    alt:
                      - alt_num: '9835'
                        alt_type: aka
                        alt_name: SNIPER OUTDOOR CC
                        alt_remarks: '-0-'
                      - alt_num: '9836'
                        alt_type: aka
                        alt_name: SNIPER OUTDOORS CC
                        alt_remarks: '-0-'
                      - alt_num: '9837'
                        alt_type: aka
                        alt_name: TRUE MOTIVES 1236 CC
                        alt_remarks: '-0-'
                    add:
                      - add_num: '13533'
                        address: '40 Mint Road, Amoka Gardens, Fordsburg'
                        city_province_postalcode: Johannesburg
                        country: South Africa
                        add_remarks: '-0-'
                      - add_num: '13534'
                        address: P.O. Box 42928
                        city_province_postalcode: Fordsburg 2003
                        country: South Africa
                        add_remarks: '-0-'
                      - add_num: '13535'
                        address: 16 Gold Street
                        city_province_postalcode: Carletonville 2500
                        country: South Africa
                        add_remarks: '-0-'
                      - add_num: '13536'
                        address: P.O. Box 28215
                        city_province_postalcode: Kensington 2101
                        country: South Africa
                        add_remarks: '-0-'
                    sdn_comments: []
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-list-sdn
      description: 'Get the entry from the official [SDN sanction lists](https://www.treasury.gov/resource-center/sanction/sdn-list/pages/default.aspx) based on the result from the search calls'
      security:
        - API Key: []
      tags:
        - Oroginal List Entry Call
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: The UID in the SDN sanction list from which all the entries will be returned
        required: true
components:
  schemas:
    personSearchAttributes:
      title: personSearchAttributes
      type: object
      description: Search identifiers for a person through the sanction list
      x-examples: {}
      properties:
        full_name:
          type: string
          description: Full name of a person (first_names + middle_names + last_names )
          example: 'OCHOA VASCO, Fabio Enrique'
        first_name:
          type: string
          description: All the known first names of the person
        middle_name:
          type: string
          description: All the known middle names of the person
        last_name:
          type: string
          description: All the known last names of the person
        aliases:
          type: array
          description: Aliases of the person
          items:
            type: string
        gender:
          type: string
          description: 'Gender of the person '
        dob:
          type: string
          description: The date of birth of the person known
        city:
          type: string
          description: The city in which the person was known to reside
        nationality:
          type: string
          description: The 2 letter ISO code of the nationality of the person known
      required:
        - full_name
      x-tags:
        - Object Descriptions
    searchConfig:
      title: search config
      type: object
      description: configure the search on the desired entity
      properties:
        sanction_lists:
          type: array
          description: All the sanction list names through which the search has to be made
          items:
            type: string
            example: sdn
        must_match_attributes:
          type: array
          description: Identifiers of the entry fields against which the output field has to be a 100% match
          items:
            type: string
      required:
        - sanction_lists
      x-tags:
        - Object Descriptions
    personSearch:
      title: personSearch
      type: object
      description: The identifiers based on which the search will be performed for a person through the desired sanction lists
      x-examples: {}
      properties:
        search_config:
          $ref: '#/components/schemas/searchConfig'
        person:
          $ref: '#/components/schemas/personSearchAttributes'
      required:
        - search_config
        - person
      x-tags:
        - Object Descriptions
    organizationSearchAttributes:
      title: organizationSearchAttributes
      type: object
      description: Search for an organization through a sanction list
      properties:
        name:
          type: string
          description: Name of the organization
          example: sniper Africa
        country_code:
          type: string
          description: 2 digit ISO country code of the place where the organization is located
      required:
        - name
      x-tags:
        - Object Descriptions
    organizationSearch:
      title: organizationSearch
      type: object
      description: The identifiers based on which the search will be performed for a organization through the desired sanction lists
      properties:
        search_config:
          $ref: '#/components/schemas/searchConfig'
        organization:
          $ref: '#/components/schemas/organizationSearchAttributes'
      required:
        - search_config
        - organization
      x-tags:
        - Object Descriptions
    organization:
      title: organization
      type: object
      description: organization details
      properties:
        name:
          type: string
          description: Name of the organization
        address:
          $ref: '#/components/schemas/address'
        aliases:
          type: array
          description: List of all the aliases that the organization has for it's name
          items:
            type: string
        list_entry_url:
          type: string
          description: The URL to the list entry which can be used with the GET call to obtain the raw entries from the sanction list in which the result is extracted from
      required:
        - name
        - address
        - aliases
        - list_entry_url
      x-tags:
        - Object Descriptions
    locationSearchResult:
      title: locationSearchResult
      type: object
      description: Response of a search query based on address through the desired sanction lists
      properties:
        persons:
          type: array
          items:
            $ref: '#/components/schemas/person'
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/organization'
      required:
        - persons
        - organizations
      x-tags:
        - Object Descriptions
    addressSearch:
      title: addressSearch
      type: object
      description: query payload for an address search
      x-examples: {}
      properties:
        search_config:
          $ref: '#/components/schemas/searchConfig'
        address:
          $ref: '#/components/schemas/address'
      required:
        - search_config
        - address
      x-tags:
        - Object Descriptions
    person:
      title: person
      type: object
      description: person details
      x-examples: {}
      properties:
        full_name:
          type: string
          description: Full name of the sanctioned person
        first_name:
          type: string
          description: First name of the queried person
        middle_name:
          type: string
          description: Middle name of the queried person
        last_name:
          type: string
          description: Last name of the queried person
        dob:
          type: string
          description: Date of birth of the queried person
        gender:
          type: string
          description: Gender of the queried person
        aliases:
          type: array
          description: List of all the aliases that the queried person has
          items:
            type: string
        city:
          type: string
          description: City where the person is known to be located
        nationality:
          description: Nationality of the person
          type: string
        list_entry_url:
          type: string
          description: The URL to the list entry which can be used with the GET call to obtain the raw entries from the sanction list in which the result is extracted from
      required:
        - full_name
        - dob
        - gender
        - aliases
        - city
        - nationality
        - list_entry_url
      x-tags:
        - Object Descriptions
    address:
      title: address
      type: object
      description: Basic search identifiers for the address to search through a sanction list where a sanctioned entity might be present
      properties:
        country_code:
          type: string
          description: '2 digit ISO country code '
          example: DE
        zip_code:
          type: string
          description: 'Zip code of the area '
        city:
          type: string
          description: Name of the city
          example: munich
        street:
          type: string
          description: Name of the street
      required:
        - country_code
      x-tags:
        - Object Descriptions
    sdn:
      title: sdn
      type: object
      x-examples: {}
      description: Output payload of the entry from the SDN lists
      properties:
        entity_number:
          type: string
        sdn:
          type: array
          items:
            type: object
            properties:
              sdn_name:
                type: string
              sdn_type:
                type: string
              program:
                type: string
              title:
                type: string
              call_sign:
                type: string
              vess_type:
                type: string
              tonnage:
                type: string
              grt:
                type: string
              vess_flag:
                type: string
              vess_owner:
                type: string
              remarks:
                type: string
        alt:
          type: array
          items:
            type: object
            properties:
              alt_num:
                type: string
              alt_type:
                type: string
              alt_name:
                type: string
              alt_remarks:
                type: string
        add:
          type: array
          items:
            type: object
            properties:
              add_num:
                type: string
              address:
                type: string
              city_province_postalcode:
                type: string
              country:
                type: string
              add_remarks:
                type: string
        sdn_comments:
          type: array
          items:
            type: string
      x-tags:
        - Object Descriptions
    cfsp:
      title: cfsp
      type: object
      x-examples: {}
      properties:
        fileGenerationDate:
          type: string
        Entity_LogicalId:
          type: integer
        Entity_EU_ReferenceNumber:
          type: string
        Entity_UnitedNationId:
          type: string
        Entity_DesignationDate:
          type: string
        Entity_DesignationDetails:
          type: string
        Entity_Remark:
          type: string
        Entity_SubjectType:
          type: string
        Entity_SubjectType_ClassificationCode:
          type: string
        Entity_Regulation_Type:
          type: string
        Entity_Regulation_OrganisationType:
          type: string
        Entity_Regulation_PublicationDate:
          type: string
        Entity_Regulation_EntryIntoForceDate:
          type: string
        Entity_Regulation_NumberTitle:
          type: string
        Entity_Regulation_Programme:
          type: string
        Entity_Regulation_PublicationUrl:
          type: string
        NameAlias_FirstName:
          type: string
        NameAlias_MiddleName:
          type: string
        NameAlias_WholeName:
          type: string
        NameAlias_NameLanguage:
          type: string
        NameAlias_Gender:
          type: string
        NameAlias_Title:
          type: string
        NameAlias_Function:
          type: string
        NameAlias_LogicalId:
          type: string
        NameAlias_RegulationLanguage:
          type: string
        NameAlias_Remark:
          type: string
        NameAlias_Regulation_Type:
          type: string
        NameAlias_Regulation_OrganisationType:
          type: string
        NameAlias_Regulation_PublicationDate:
          type: string
        NameAlias_Regulation_EntryIntoForceDate:
          type: string
        NameAlias_Regulation_NumberTitle:
          type: string
        NameAlias_Regulation_Programme:
          type: string
        NameAlias_Regulation_PublicationUrl:
          type: string
        Address_City:
          type: string
        Address_Street:
          type: string
        Address_PoBox:
          type: string
        Address_ZipCode:
          type: string
        Address_Region:
          type: string
        Address_Place:
          type: string
        Address_AsAtListingTime:
          type: string
        Address_ContactInfo:
          type: string
        Address_CountryIso2Code:
          type: string
        Address_CountryDescription:
          type: string
        Address_LogicalId:
          type: string
        Address_RegulationLanguage:
          type: string
        Address_Remark:
          type: string
        Address_Regulation_Type:
          type: string
        Address_Regulation_OrganisationType:
          type: string
        Address_Regulation_PublicationDate:
          type: string
        Address_Regulation_EntryIntoForceDate:
          type: string
        Address_Regulation_NumberTitle:
          type: string
        Address_Regulation_Programme:
          type: string
        Address_Regulation_PublicationUrl:
          type: string
        BirthDate_BirthDate:
          type: string
        BirthDate_Day:
          type: string
        BirthDate_Month:
          type: string
        BirthDate_Year:
          type: string
        BirthDate_YearRangeFrom:
          type: string
        BirthDate_YearRangeTo:
          type: string
        BirthDate_Circa:
          type: string
        BirthDate_CalendarType:
          type: string
        BirthDate_ZipCode:
          type: string
        BirthDate_Region:
          type: string
        BirthDate_Place:
          type: string
        BirthDate_City:
          type: string
        BirthDate_CountryIso2Code:
          type: string
        BirthDate_CountryDescription:
          type: string
        BirthDate_LogicalId:
          type: string
        BirthDate_RegulationLanguage:
          type: string
        BirthDate_Remark:
          type: string
        BirthDate_Regulation_Type:
          type: string
        BirthDate_Regulation_OrganisationType:
          type: string
        BirthDate_Regulation_PublicationDate:
          type: string
        BirthDate_Regulation_EntryIntoForceDate:
          type: string
        BirthDate_Regulation_NumberTitle:
          type: string
        BirthDate_Regulation_Programme:
          type: string
        BirthDate_Regulation_PublicationUrl:
          type: string
        Identification_Number:
          type: string
        Identification_Diplomatic:
          type: string
        Identification_KnownExpired:
          type: string
        Identification_KnownFalse:
          type: string
        Identification_ReportedLost:
          type: string
        Identification_RevokedByIssuer:
          type: string
        Identification_IssuedBy:
          type: string
        Identification_IssuedDate:
          type: string
        Identification_ValidFrom:
          type: string
        Identification_ValidTo:
          type: string
        Identification_LatinNumber:
          type: string
        Identification_NameOnDocument:
          type: string
        Identification_TypeCode:
          type: string
        Identification_TypeDescription:
          type: string
        Identification_Region:
          type: string
        Identification_CountryIso2Code:
          type: string
        Identification_CountryDescription:
          type: string
        Identification_LogicalId:
          type: string
        Identification_RegulationLanguage:
          type: string
        Identification_Remark:
          type: string
        Identification_Regulation_Type:
          type: string
        Identification_Regulation_OrganisationType:
          type: string
        Identification_Regulation_PublicationDate:
          type: string
        Identification_Regulation_EntryIntoForceDate:
          type: string
        Identification_Regulation_NumberTitle:
          type: string
        Identification_Regulation_Programme:
          type: string
        Identification_Regulation_PublicationUrl:
          type: string
        Citizenship_Region:
          type: string
        Citizenship_CountryIso2Code:
          type: string
        Citizenship_CountryDescription:
          type: string
        Citizenship_LogicalId:
          type: string
        Citizenship_RegulationLanguage:
          type: string
        Citizenship_Remark:
          type: string
        Citizenship_Regulation_Type:
          type: string
        Citizenship_Regulation_OrganisationType:
          type: string
        Citizenship_Regulation_PublicationDate:
          type: string
        Citizenship_Regulation_EntryIntoForceDate:
          type: string
        Citizenship_Regulation_NumberTitle:
          type: string
        Citizenship_Regulation_Programme:
          type: string
        Citizenship_Regulation_PublicationUrl:
          type: string
        NameAlias_LastName:
          type: string
      description: Output payload of the entry from the CFSP sanction list
      x-tags:
        - Object Descriptions
  securitySchemes:
    API Key:
      name: x-api-key
      type: apiKey
      in: header
      description: 'Trial API Key: sanction_api_cubemos'
tags:
  - name: API Search Call
  - name: Oroginal List Entry Call
